jupyterlab
llama-index-llms-ollama            # Q18 RAG example
llama-index-embeddings-huggingface # Q18 RAG example
llama-index-llms-huggingface       # Q18 RAG example
transformers>=4.30                 # Q18 LLM finetuning
mlxtend>=0.22.0
nltk>=3.8.1
numpy>=1.23.5
scikit-learn>=1.2.2
torch>=2.0.0
transformers>=4.27.2
watermark>=2.4.3